body {
    font-size: 1rem;
    color: #0D007C;
    width: 35rem;
    
}


.outer-container {
    height: 40rem;
    padding: 0.75rem;
    border: 0.2rem solid lightgray;
    border-radius: .75rem;
    text-align: center;
    overflow: scroll;
}

.title {
    border-bottom: .1rem solid lightgray;
    padding-bottom: 1rem;
}

.btn-container {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
}

.feature-btn {
    all: unset;
    padding: 1rem 1.5rem;
    background: blue;
    border-radius: 1rem;
    color: white;
}

.feature-btn:hover {
    background: lightblue;
    color: #0D007C;
    font-weight: bold;
    
}

#create-user-container {
    margin: 0 auto;
    width: 50%;
    border: .2rem solid blue;
    border-radius: 1rem;
    background-color:lightcyan;
}

#create-user-form {
    display:flex;
    flex-direction: column;
    padding: 1rem
    
}


input {
    margin-bottom: 1rem; 
}



#response-container {
    margin:  1rem;
    border: .2rem solid blue;
    border-radius: 1rem;
    background-color:lightcyan;
}

.data-container {
    overflow: scroll;
}


.header-row {
    display: flex;
    justify-content: space-around;
    font-weight: bold;

}

.cell {
    width: 25%;
    border: 1px solid lightgrey;
    border-radius: .5rem;
    padding: 1rem .25rem;
    overflow: scroll;
    

}
.row {
    display: flex;
}

/* .fruit {
    
} */
.btn-alternate {
    color: black;
    background:lightcyan;
    
}

.clear-btn {
    margin-bottom: 1rem;
    color:white;
    background: salmon;

}

.clear-btn:hover {
    background: lightsalmon;
}

.hidden {
    display:none;
}


